<div class="container">
  <br />
  <h1 class="text-success">List of Expenses</h1>

  <!-- <select [(ngModel)]="selectedMonth" (change)="updateTotalForMonth()">
    <option value="" disabled selected>Select a month</option>
    <option *ngFor="let month of months" [value]="month.value">
      {{ month.name }}
    </option>
  </select> -->
  <br />
  <div class="form-group">
    <select class="form-select" [(ngModel)]="selectedMonth">
      <option value="" disabled selected>Select a month</option>
      <option *ngFor="let month of months" [value]="month.value">
        {{ month.name }}
      </option>
    </select>
    <!-- <select class="form-select" [(ngModel)]="selectedMonth">
      <option selected="">Select Month</option>
      <option value="1">January</option>
      <option value="2">February</option>
      <option value="3">March</option>
      <option value="4">April</option>
      <option value="5">May</option>
      <option value="Jun">June</option>
      <option value="Jul">July</option>
      <option value="Sep">September</option>
      <option value="Oct">October</option>
      <option value="Nov">November</option>
      <option value="Dec">December</option>
    </select> -->
    <!-- <select class="form-select" [(ngModel)]="selectedCategory">
      <option selected>Select Category</option>
      <option value="0">All Categories</option>
      <option value="1">Home & Rental</option>
      <option value="2">Utilities</option>
      <option value="3">Car/Fuel/Transportation</option>
      <option value="4">Groceries</option>
      <option value="5">Restaurants & Dining</option>
      <option value="6">Shopping & Entertainment</option>
      <option value="7">Travel</option>
      <option value="8">Insurance</option>
      <option value="9">Finance & Taxes</option>
      <option value="10">Education</option>
      <option value="11">Health</option>
      <option value="12">Others</option>
    </select> -->
  </div>
  <div>
    <a class="add-expense" routerLink="/expenses/new">Add Expense</a>
  </div>
  <!-- <div class="total">
    <span
      ><strong
        >Total amount: ${{
          totalExpenses.toLocaleString(undefined, { maximumFractionDigits: 2 })
        }}
      </strong></span
    >
  </div> -->

  <div>
    <table>
      <!-- <thead>
        <tr>
          <th>Date</th>
          <th>Title</th>
          <th>Amount</th>
          <th>Category</th>
        </tr>
      </thead> -->

      <tbody>
        <tr>
          <td>
            @for (expense of expenses; track expense.id) {
            <app-expense [expense]="expense" />

            <a class="expense-link" (click)="onEditExpense(expense.id)">Edit</a>
            <a class="expense-link" (click)="onDeleteExpense(expense.id)"
              >Delete</a
            >
            }
          </td>
        </tr>
        <!-- <td>
          @for (expense of expenses; track expense.id) {
          <app-expense [expense]="expense" />

          <a class="expense-link" (click)="onEditExpense(expense.id)">Edit</a>
          <a class="expense-link" (click)="onDeleteExpense(expense.id)"
            >Delete</a
          >
          }
        </td> -->
      </tbody>
    </table>
    <br />
  </div>
</div>

<!-- -----------example filter as list with link------------- -->

<!-- <div class="container">
  <h2>Filterable Dropdown</h2>
  <p>Open the dropdown menu and type something in the input field to search for dropdown items:</p>
  <p>Note that we have styled the input field to fit the dropdown items.</p>
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <input class="form-control" id="myInput" type="text" placeholder="Search..">
      <li><a href="#">HTML</a></li>
      <li><a href="#">CSS</a></li>
      <li><a href="#">JavaScript</a></li>
      <li><a href="#">jQuery</a></li>
      <li><a href="#">Bootstrap</a></li>
      <li><a href="#">Angular</a></li>
    </ul>
  </div> -->
