<html>
  <body>
    <div class="container">
      <div>
        <br />
        <h2 class="text-success">Expense Summary</h2>
        <br />
        <div class="chart-container">
          <canvas id="pieChart"></canvas>
        </div>
        <br />
        <h4>Spending Categories</h4>
        <br />
      </div>
      <!-- <h5>For {{ selectedMonth }}</h5> -->

      <div>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th
                scope="col"
                class="sort-header"
                (click)="sortData('category')"
              >
                Category
              </th>
              <th
                scope="col"
                class="sort-header"
                (click)="sortData('total_amount')"
              >
                Total Amount
              </th>
            </tr>
          </thead>
          <tbody>
            @for (expense of expensesByCategory; track expense.id) {
            <tr scope="row">
              <td>{{ expense.category }}</td>
              <td class="number-column">
                ${{
                  expense.total_amount.toLocaleString("en-US", {
                    minimumFractionDigits: 2,
                    maximumFractionDigits: 2
                  })
                }}
              </td>
            </tr>
            }
          </tbody>
        </table>

        <!-- <table>
          <thead>
            <tr>
              <th class="sort-header" (click)="sortData('category')">
                Category
              </th>
              <th class="sort-header" (click)="sortData('total_amount')">
                Total Amount
              </th>
            </tr>
          </thead>

          <tbody>
            @for (expense of expensesByCategory; track expense.id) {
            <tr>
              <td>

                {{ expense.category }} {{ expense.total_amount }}
              </td>
            </tr>
            }
          </tbody>
        </table> -->
      </div>
      <div class="total">
        <p>
          <strong
            >Total Spending: ${{
              totalAmount.toLocaleString("en-US", {
                minimumFractionDigits: 2,
                maximumFractionDigits: 2
              })
            }}
          </strong>
        </p>
      </div>
    </div>
  </body>
</html>

<!-- <div class="form-group">
    <label for="selectedMonth">Select Month:</label>
    <select id="month" [(ngModel)]="selectedMonth" (change)="filterExpenses()"> -->
<!-- <select id="selectedMonth" [(ngModel)]="selectedMonth"> -->
<!-- Options for months -->
<!-- <option value="01">January</option>
      <option value="02">February</option>
      <option value="03">March</option>
      <option value="04">April</option>
      <option value="05">May</option>
      <option value="06">June</option>
      <option value="07">July</option>
      <option value="08">August</option>
      <option value="09">September</option>
      <option value="10">October</option>
      <option value="11">November</option>
      <option value="12">December</option>
    </select>
  </div>

  <div>
    <label for="selectedCategory">Select Category:</label>
    <select -->
<!-- id="category"
      [(ngModel)]="selectedCategory"
      (change)="filterExpenses()"
    > -->
<!-- <select id="selectedCategory" [(ngModel)]="selectedCategory"> -->
<!-- Options for categories -->
<!-- <option value="0">All Categories</option>
      <option value="1">Home & Rental</option>
      <option value="2">Utilities</option>
      <option value="3">Car/Fuel/Transportation</option>
      <option value="4">Groceries</option>
      <option value="5">Restaurants & Dining</option>
      <option value="6">Shopping & Entertainment</option>
      <option value="7">Travel</option>
      <option value="8">Insurance</option>
      <option value="9">Finance & Taxes</option>
      <option value="10">Education</option>
      <option value="11">Health</option>
      <option value="12">Others</option>
    </select>
  </div> -->
