.container {

  // justify-content: center;
  // align-items: center;
  // width: 100%;
  // background-color: #f0f0f0;
  // min-height: 90vh;
  // max-width: 800px;
  // margin: 0 auto;
  // background-color: #f9f9f9;
  // padding: 20px;

}

table {
  width: 100%;
}

td {
  height: 50px;
  vertical-align: middle;
  text-align:left;
  border-style:none;
 }
