<div class="container">
  <form [formGroup]="expenseNewForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="date"> Date </label>
      <input
        id="date"
        name="date"
        class="input"
        type="date"
        formControlName="date"
        placeholder=""
        required
      />
    </div>
    <p
      class="help is-danger"
      *ngIf="
        !expenseNewForm.get('date').valid && expenseNewForm.get('date').touched
      "
    >
      <small>Date is required</small>
    </p>
    <div class="form-group">
      <label for="title"> Title </label>
      <input
        id="title"
        name="title"
        class="input"
        type="text"
        formControlName="title"
        placeholder=""
        required
      />
    </div>
    <p
      class="help is-danger"
      *ngIf="
        !expenseNewForm.get('title').valid &&
        expenseNewForm.get('title').touched
      "
    >
      <small>Title is required</small>
    </p>
    <div class="form-group">
      <label for="description"> Description </label>
      <input
        id="description"
        name="description"
        class="input"
        type="text"
        formControlName="description"
        placeholder=""
      />
    </div>
    <div class="form-group">
      <label for="amount"> Amount </label>
      <input
        id="amount"
        name="amount"
        class="input"
        type="number"
        formControlName="amount"
        placeholder=""
        required
      />
    </div>
    <p
      class="help is-danger"
      *ngIf="
        !expenseNewForm.get('amount').valid &&
        expenseNewForm.get('amount').touched
      "
    >
      <small>Amount is required</small>
    </p>

    <div class="form-group">
      <label for="category_id">Category</label>
      <select
        id="category_id"
        name="category_id"
        class="input"
        type="number"
        formControlName="category_id"
        placeholder=""
      >
        <option value="">--Please choose a category--</option>
        <option value="1">Home & Rental</option>
        <option value="2">Utilities</option>
        <option value="3">Car/Fuel/Transportation</option>
        <option value="4">Groceries</option>
        <option value="5">Restaurants & Dining</option>
        <option value="6">Shopping & Entertainment</option>
        <option value="7">Travel</option>
        <option value="8">Insurance</option>
        <option value="9">Finance & Taxes</option>
        <option value="10">Education</option>
        <option value="11">Health</option>
        <option value="12">Others</option>
      </select>
    </div>
    <p
      class="help is-danger"
      *ngIf="
        !expenseNewForm.get('category').valid &&
        expenseNewForm.get('category').touched
      "
    >
      <small>Category is required</small>
    </p>

    @for (error of errors; track $index) {
    <p class="error">{{ error }}</p>
    }

    <button type="submit" [disabled]="!expenseNewForm.valid">
      Add Expense
    </button>
    <button class="cancel" type="button" (click)="onCancel()">Cancel</button>
  </form>
</div>
