body {
  font-family:Arial, Helvetica, sans-serif;
  margin: 10px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding: 20px;

}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: left;
}

tbody td {
  padding: 10px;
  border-top: 1px solid #ddd;
}


button {
  padding: .75rem;
  border: none;
  background-color: rgb(0, 157, 255);
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  color: white;
}

button:hover{
  background-color: rgb(0, 94, 255);
}

button:disabled {
  background-color: rgb(129, 200, 244);
}

.delete {
  background-color: lightcoral;
  cursor: pointer;
}

.delete:hover{
  background-color: #bb6161
}

.add-expense {
  background-color: #e28000;
  font-size: 1.2rem;
  font-weight:bold;
  color: white;
  text-decoration: none;
  padding: 0.5rem 2rem;
  transition: background-color 0.3s ease-in-out;
  border-radius: 10px;
  cursor: pointer;
}

.add-expense:hover {
  background-color: #c07100;
  cursor: pointer;
}

.expense-link{
cursor: pointer;
padding: .3rem;
}

