<div class="container">
  <br />
  <h1 class="text-success">List of Expenses</h1>
  <br />
  <div class="form-group">
    <select class="form-select" [(ngModel)]="selectedMonth">
      <option value="" disabled selected>Select a month</option>
      <option *ngFor="let month of months" [value]="month.value">
        {{ month.name }}
      </option>
    </select>
    <!-- <select class="form-select" [(ngModel)]="selectedMonth">
      <option selected="">Select Month</option>
      <option value="1">January</option>
      <option value="2">February</option>
      <option value="3">March</option>
      <option value="4">April</option>
      <option value="5">May</option>
      <option value="Jun">June</option>
      <option value="Jul">July</option>
      <option value="Sep">September</option>
      <option value="Oct">October</option>
      <option value="Nov">November</option>
      <option value="Dec">December</option>
    </select> -->
  </div>
  <div>
    <a class="add-expense" routerLink="/expenses/new">Add Expense</a>
  </div>
  <div class="total">
    <span
      ><strong
        >Total amount: ${{
          totalExpenses.toLocaleString(undefined, { maximumFractionDigits: 2 })
        }}
      </strong></span
    >
  </div>

  <!-- <div *ngFor="let expense of expenses | filterByMonth : selectedMonth"> -->
  <div>
    <table>
      <!-- <thead>
        <tr>
          <th>Date</th>
          <th>Title</th>
          <th>Amount</th>
          <th>Category</th>
        </tr>
      </thead> -->

      <tbody>
        <tr>
          <td>
            @for (expense of expenses; track expense.id) {
            <app-expense [expense]="expense" />

            <a class="expense-link" (click)="onEditExpense(expense.id)">Edit</a>
            <a class="expense-link" (click)="onDeleteExpense(expense.id)"
              >Delete</a
            >
            }
          </td>
        </tr>
      </tbody>
    </table>
    <br />
  </div>
</div>
