.container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  // background-color: #f0f0f0;
  min-height: 90vh;
  // background-color: #f9f9f9;
 }
// body {
//   font-family: Arial, sans-serif;
//   margin: 0;
//   padding: 0;
//   }

h2 {
  text-align: center;
  padding: 10px;
}

// table {
//   border-collapse: collapse;
//   width: 100%;
//   gap: 10px;
// }

// th, td {
//   padding: 8px;
//   text-align: left;
//   border-bottom: 1px solid #ddd;
//   width: 100%;
//   }

//   th {
//   background-color: #f2f2f2;
//   }

//   tr:hover {
//   background-color: #f9f9f9;
//   }
th, td {
  text-align: center;
}
.number-column {
  text-align: right;
}

.add-expense {
  background-color: #e28000;
  font-size: 1.1rem;
  font-weight:bold;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease-in-out;
  border-radius: 10px;
  cursor: pointer;
}

.add-expense:hover {
  background-color: #c07100;
  cursor: pointer;
}

.expense-link{
cursor: pointer;
padding: .8rem;
}

.sort-header {
  cursor: pointer;
}

.total {
  display: block;
  justify-content: right;
  font-size: 1.1rem;
  padding: 20px 0px 0px 10px
}

// .form-group {
//   width: 20%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   padding: 5px;
//   margin: 0 auto
// }

// .form-select {
//   padding: .5rem;
//   font-size: 1.2rem;
//   text-align: center;
//   cursor: pointer;

// }

// button {
//   padding: .5rem;
//   border: none;
//   background-color: rgb(0, 157, 255);
//   border-radius: 5px;
//   font-size: 1.2rem;
//   font-weight: bold;
//   cursor: pointer;
//   transition: background-color 0.3s;
//   color: white;
// }

// button:hover{
//   background-color: rgb(0, 94, 255);
// }

// button:disabled {
//   background-color: rgb(129, 200, 244);
// }

// .delete {
//   background-color: lightcoral;
//   cursor: pointer;
// }

// .delete:hover{
//   background-color: #bb6161
// }

// tr:nth-child(even) {
//   background-color: #f2f2f2;
// }

// th, td {
  // text-align: left;
  // padding: 8px;
  //  width:100%
// }
// td {
//  height: 80px;
//  vertical-align: middle;

// }


// thead th {
//   background-color: #f2f2f2;
//   padding: 10px;
//   text-align: center;
// }

// tbody tr {
//   padding: 10px;
//   border-top: 1px solid #ddd;
//   text-align: left;
// }




