<html>
  <body>
    <div class="container">
      <br />
      <h2 class="text-success">List of Expenses</h2>
      <div>
        <a class="add-expense" routerLink="/expenses/new">Add Expense</a>
      </div>

      <div class="total">
        <p>
          <strong
            >Total amount: ${{
              totalAmount.toLocaleString("en-US", {
                minimumFractionDigits: 2,
                maximumFractionDigits: 2
              })
            }}
          </strong>
        </p>
      </div>

      <div>
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th scope="col" class="sort-header" (click)="sortData('date')">
                Date
              </th>
              <th scope="col" class="sort-header" (click)="sortData('title')">
                Title
              </th>
              <th scope="col" class="sort-header" (click)="sortData('amount')">
                Amount
              </th>
              <th
                scope="col"
                class="sort-header"
                (click)="sortData('category')"
              >
                Category
              </th>
            </tr>
          </thead>

          <tbody>
            @for (expense of expenses; track expense.id) {
            <tr scope="row">
              <td>
                {{ expense.date }}
              </td>
              <td>
                {{ expense.title }}
              </td>
              <td class="number-column">
                {{
                  expense.amount.toLocaleString("en-US", {
                    minimumFractionDigits: 2,
                    maximumFractionDigits: 2
                  })
                }}
              </td>
              <td>
                {{ expense.category.name }}
              </td>
              <td>
                <a class="expense-link" (click)="onEditExpense(expense.id)"
                  >Edit</a
                >
                <a class="expense-link" (click)="onDeleteExpense(expense.id)"
                  >Delete</a
                >
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>

<!-- -------------- for filter by month -------------- -->
<!-- <div class="form-group"> -->
<!-- <select class="form-control" [(ngModel)]="selectedMonth">
    <option>Select a month</option>
    <option *ngFor="let month of months" [value]="month.value">
      {{ month.name }}
    </option>
  </select> -->
<!-- <select class="form-select" [(ngModel)]="selectedMonth">
    <option selected>Select Month</option>
    <option value="1">January</option>
    <option value="2">February</option>
    <option value="3">March</option>
    <option value="4">April</option>
    <option value="5">May</option>
    <option value="6">June</option>
    <option value="7">July</option>
    <option value="8">August</option>
    <option value="9">September</option>
    <option value="10">October</option>
    <option value="11">November</option>
    <option value="12">December</option>
  </select> -->
<!-- </div> -->
<!-- <div>
  <h4>Expenses for month: {{ selectedMonth }}</h4>
  <ul>
    <li *ngFor="let expense of expenses | filterByMonth : selectedMonth">
      {{ expense.date }} - {{ expense.title }} - {{ expense.amount }} -
      {{ expense.category.name }}
    </li>
  </ul>
</div> -->
