.navbar {
  display: flexbox;
  justify-content: space-between;
  align-items: center;
  background-color: lightblue;
  padding: 1rem 1rem;
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 8px rgba(77, 106, 117, 0.795);
}

.navbar .brand-name {
  font-size: 2.5rem;
  font-weight: bolder;
  text-shadow: 1px 1px 2px pink;
  color: darkblue;
  padding-left: 1.5rem;
}

.navbar .nav-links a,
.welcome {
  font-size: 1.1rem;
  font-weight: bold;
  color: darkblue;
  text-decoration: none;
  padding: 0.5rem 2rem;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.navbar .nav-links a:hover,
.navbar .nav-link a.active {
  color: white;
  background-color: darkblue;
  border-radius: 5px;
}
.welcome {
  font-size: 1.2rem;
}
