<nav class="navbar">
  <div class="brand-name">Expense Tracker</div>
  <div class="nav-links">
    @if (isLoggedIn()) {
    <span class="welcome"
      ><strong> Welcome, {{ currentUser.first_name || "" }}</strong></span
    >
    <a
      routerLink=""
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
    <a
      routerLink="/expenses-list"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Expenses List</a
    >
    <a (click)="logout()">Logout</a>

    } @else {

    <a routerLink="/login">Login</a>
    <a routerLink="/signup">Sign Up</a>
    }
  </div>
</nav>
